body{
    display: flex;
    justify-content:  center;
    background: linear-gradient(#000000b3, #000000b3), url(fon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    display: flex;
    background: linear-gradient(#3ebb95b3, #792458c4);
    border-radius: 40px;
    height: 680px;
    width: 1000px;
}
.cont1{
    display: flex;
    flex-direction: column;
    background-image: url(fon2.jpg);
    background-size: cover;
    width: 600px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.container1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;

    height: 600px;
}
h1{
    display: flex;
    font-family: 'Anton', sans-serif;
    color: #ffffff;
    font-size: 110px;
    padding-left: 40px;
    text-shadow: 2px 0px 3px #000000, -2px 0px 3px #000000;
}
.container3{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#ffffff98, #2fcfff34), url(fon3.jpg);
    background-size: cover;
    border-top-right-radius: 40px;
    height: 600px;
}
h2{
    display: flex;
    font-size: 35px;
    padding: 10px 40px;
    margin-bottom: 5px;
    font-family: 'Anton', sans-serif;
}
p{
    display: flex;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0 45px;
    margin-top: 0;
    color: #585858;
}
p.text{
    display: flex;
    color: #73d3ff;
    font-size: 20px;
    font-weight: bold;
}
.container2{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    box-shadow: 0 -1px 0px 0px #7affedc5;
    height: 80px;
}
a{
    display: inline-flex;
    padding: 20px;   
    font-size: 18px;
    color: #ffffff;
    font-weight: bolder;
    text-shadow: 2px 0px 3px #000000, -2px 0px 3px #000000;
}
.cont2{
    display: flex;
    flex-direction: column;
}
.footerImg{
    display: flex;
}
.img{
    display: block;
    background-size: cover;
    width: 100px;
    height: 80px;
}
div.img.img1{
    background-image:linear-gradient(#580e41b4, #7e10549d), url(s1.jpg);
}
div.img.img2{
    background-image:linear-gradient(#150d5c98, #0651686e), url(s2.jpg);
}
div.img.img3{
    background-image:linear-gradient(#580e41b4, #7e10549d), url(s3.jpg);
}
div.img.img4{
    background-color: #3b3b3b;
    border-bottom-right-radius: 40px;
}
.age{
    font-size: 25px;
    padding: 0 15px;
    color: #787a71;
    margin-top: 20px;
}
footer{
    color: #b3bdbd;
    padding: 20px 40px;   
}
.container-body{
    display: flex;
    flex-direction: column;
    margin: 40px;
}
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|Josefin+Sans&display=swap');